# function structure

In [1]:
def function_name (argument1,argument2,..): # function declaration
    
    # function body start
    
    print(argument1, argument2) #statment1
    print("line1")              #statment2
    print("line2")              #statment3
    
    # end function body
    
function_name (1,2 )     # fucntion calling  
function_name ("A","B")  # fucntion calling

SyntaxError: invalid syntax (<ipython-input-1-d332df30301f>, line 1)

# PYTHON FUNCTION TYPES

* non-return function with required arguments
* return function with required arguments 
* default function (function which does not require any arguments)
* function with both required and default / optional argument values
* postional arguments 
* lambda function
    * without function name 
    * it is used only once in a program 
    * one line function 
* recursive function 
* generator function e.g. enumerate()
    * Can't directly called 
    * remember its last iteration 
    * run each iteration one by one

In [4]:
x = int(input("Enter a Number: "))
y = int(input("Enter another Number: "))

def prod():
    print(x*y)
    
prod()

Enter a Number: 2
Enter another Number: 3
6

# Return function with required arguments

In [7]:
def prod(x,y):
    return x*y
    
x = int(input("Enter a Number: "))
y = int(input("Enter another Number: "))
    
prod(x,y)

Enter a Number: 2
Enter another Number: 3

6

# Non-return function with required arguments

In [8]:
def prod(x,y):
    print(x*y)
    
x = int(input("Enter a Number: "))
y = int(input("Enter another Number: "))
    
prod(x,y)

Enter a Number: 2
Enter another Number: 3
6

# default function

In [2]:
def prod_default():
    x = int(input("Enter a Number: "))
    y = int(input("Enter another Number: "))
    print(x*y)
    
prod_default()

Enter a Number: 2
Enter another Number: 5
10

# function with required and default / optional argument values

In [13]:
def add(num1,num2=1,num3=0, num4=0, num5=0):
    return num1 + num2 + num3 + num4 + num5
print(add())
print(add(8))
print(add(1,8))
print(add(2,88))
print(add(1,8,3))
print(add(1,8,3,9))
print(add(1,8,3,22,90))

TypeError: add() missing 1 required positional argument: 'num1'

In [14]:
def add(num1,num2,num3, num4=0, num5=0):
    return num1 + num2 + num3 + num4 + num5
#print(add())
#print(add(8))
print(add(1,8))
print(add(2,88))
print(add(1,8,3))
print(add(1,8,3,9))
print(add(1,8,3,22,90))

TypeError: add() missing 1 required positional argument: 'num3'

In [15]:
def add(num1,num2,num3, num4=0, num5=0):
    return num1 + num2 + num3 + num4 + num5
#print(add())
#print(add(8))
#print(add(1,8))
#print(add(2,88))
print(add(1,8,3))
print(add(1,8,3,9))
print(add(1,8,3,22,90))

12
21
124

In [16]:
def add(num1,num2,num3, num4=0, num5=0):
    return num1 + num2 + num3 + num4 + num5
#print(add())
#print(add(8))
#print(add(2,88))
print(add(1,8,3))
print(add(1,8))
print(add(1,8,3,9))
print(add(1,8,3,22,90))

12

TypeError: add() missing 1 required positional argument: 'num3'

In [22]:
def add(num1,num2, num3, *x):
    print(num1, num2, num3, x)
    result = num1 + num2 
   
    for num in x:
        result += num
    
    return result
    
add(1,2,3,4,5,6,7,8,9,10,11,12)

1 2 3 (4, 5, 6, 7, 8, 9, 10, 11, 12)

75

In [23]:
def add(num1,num2, num3, num4, *x):
    print(num1, num2, num3, num4, x)
    result = num1 + num2 
   
    for num in x:
        result += num
    
    return result
    
add(1,2,3,4,5,6,7,8,9,10,11,12)

1 2 3 4 (5, 6, 7, 8, 9, 10, 11, 12)

71

In [24]:
def add(num1,num2, num3, num4, *x):
    print(num1, num2, num3, num4, x)
    result = num1 + num2 + num3 + num4
   
    for num in x:
        result += num
    
    return result
    
add(1,2,3,4,5,6,7,8,9,10,11,12)

1 2 3 4 (5, 6, 7, 8, 9, 10, 11, 12)

78

# recursive function

In [26]:
def abc(n): 
    if n==1:
        return 1
    return n ** abc(n-1)
        
    abc(n)

In [27]:
abc(4)

262144

In [28]:
abc(3)

9

In [31]:
def abc(n):
    if n==1:
        return 1
    return n * abc(n-1)
    
    
abc(8)  

#4x3x3x1 = 24

40320

# lambda function

In [32]:
xyz = lambda a,b,c,d: a+b+c+d
xyz(6,2,3,4)

15

In [33]:
def xyz(a,b):
    return a + b

xyz(5,8)

13

In [34]:
def xyz(a,b): return a + b

xyz(5,8)

13

In [35]:
xyz = lambda a,b: a + b

xyz(5,8)

13

# postional arguments

In [5]:
def add(num1,num2,num3=0, num4=0, num5=0):
    print(f"num1 {num1} + num2 {num2} + num3 {num3} + num4 {num4}  + num5 {num5} = {num1+num2+num3+num4+num5}")
    return num1 + num2 + num3 + num4 + num5

add(num1=11, num2=20, num5=10) 
    #num3=1, num4=7, num5=5)

num1 11 + num2 20 + num3 0 + num4 0  + num5 10 = 41

41

# Required Arguments

In [6]:
def id_card(sid, sname,sfname, scourse, stiming): # function declaration
    text = """                                     
    **** INDUS UNIVERSITY ****
    Student's ID.: {}
    Student's Name: {}
    Student's Father's Name: {}
    Course Name:  {}
    Course Timings: {}
    """.format(sid, sname, sfname, scourse, stiming)
    print(text)
    
id_card(1,"Ali",'Hamza','A.I','9 to 12')    
id_card(2,"Kashif","Kamran","Cloud Computing", "3:30 to 6:30") 

#id_card = input(Enter Student Information:

    **** INDUS UNIVERSITY ****
    Student's ID.: 1
    Student's Name: Ali
    Student's Father's Name: Hamza
    Course Name:  A.I
    Course Timings: 9 to 12


    **** INDUS UNIVERSITY ****
    Student's ID.: 2
    Student's Name: Kashif
    Student's Father's Name: Kamran
    Course Name:  Cloud Computing
    Course Timings: 3:30 to 6:30

In [20]:
def id_card(sid, sname, sfname, scourse, stiming): # function declaration
    #input(id_card) 
    text = """                                     
    **** INDUS UNIVERSITY ****
    
    Student's ID.: {}
    Student's Name: {}
    Student's Father's Name: {}
    Course Name:  {}
    Course Timings: {}
    """.format(sid, sname, sfname, scourse, stiming)
    print(text)
    
id_card(1,"Ali",'Hamza','A.I','9 to 12')    
id_card(2,"Kashif","Kamran","Cloud Computing", "3:30 to 6:30")

    **** INDUS UNIVERSITY ****

    Student's ID.: 1
    Student's Name: Ali
    Student's Father's Name: Hamza
    Course Name:  A.I
    Course Timings: 9 to 12


    **** INDUS UNIVERSITY ****

    Student's ID.: 2
    Student's Name: Kashif
    Student's Father's Name: Kamran
    Course Name:  Cloud Computing
    Course Timings: 3:30 to 6:30

In [21]:
data =[[1,"Qasim","Aslam","A.I","9 to 12"],
      [2,"Hamza","Khalid","Cloud","12:15 to 3:15"],
      [3,"Rauf","Hussain","Quantum Computing","12AM"]]

for v in data:
    id_card(*v)

    **** INDUS UNIVERSITY ****

    Student's ID.: 1
    Student's Name: Qasim
    Student's Father's Name: Aslam
    Course Name:  A.I
    Course Timings: 9 to 12


    **** INDUS UNIVERSITY ****

    Student's ID.: 2
    Student's Name: Hamza
    Student's Father's Name: Khalid
    Course Name:  Cloud
    Course Timings: 12:15 to 3:15


    **** INDUS UNIVERSITY ****

    Student's ID.: 3
    Student's Name: Rauf
    Student's Father's Name: Hussain
    Course Name:  Quantum Computing
    Course Timings: 12AM

# Optional Arguments

In [22]:
def abc(x, y=0, z=0): #1 Required, two optional
    print(x,y,z)
    print(x+y+z)
    
abc(5)

5 0 0
5

In [26]:
def abc(x, y=0, z=0): #1 Required, two optional
    print(x,y,z)
    print(x+y+z)
    print(x*y*z)

abc(5,10,2)

5 10 2
17
100

# Non Return Functions

In [27]:
abc = print("pakistan")
print(abc)

pakistan
None

In [29]:
def abc(x, y=0, z=0): #1 Required, two optional
    print(x,y,z)
    print(x+y+z)
    
abc(5)  

x = abc(5,7,9)
print(x)

5 0 0
5
5 7 9
21
None

# Return Functions

In [32]:
def id_card(sid, sname, fname, course, timing):
    text = """
    
    **** INDUS UNIVERSITY **** 
    
    Student's ID: {}
    Student's Name: {}
    Student's Father's Name: {}
    Course Name:  {}
    Course Timings: {}
    """.format(sid,sname,fname,course,timing)
    return text
    

print(id_card(1,"Tabish","Aslam","AI & Robotics","2 p.m. - 5 p.m."))

    **** INDUS UNIVERSITY ****

    Student's ID: 1
    Student's Name: Tabish
    Student's Father's Name: Aslam
    Course Name:  AI & Robotics
    Course Timings: 2 p.m. - 5 p.m.

In [33]:
def id_card(sid, sname,fname,course, timing):
    text = """
    **** INDUS UNVERSITY ****
    
    id: {}
    Name: {}
    father's Name: {}
    course:  {}
    timing: {}
    """.format(sid,sname,fname,course,timing)
    return text # exit function from first return statment
    return "Qasim"
    return "Ali"
    

print(id_card(1,"A","B","C","D"))

    **** INDUS UNVERSITY ****

    id: 1
    Name: A
    father's Name: B
    course:  C
    timing: D

In [34]:
def id_card(sid, sname,fname,course, timing):
    text = """
    PIAIC Islamabad
    id: {}
    Name: {}
    father's Name: {}
    course:  {}
    timing: {}
    """.format(sid,sname,fname,course,timing)
    return text, "Qasim", "Ali" # return in tuple form
    

print(id_card(1,"A","B","C","D"))
print()
print(*id_card(1,"A","B","C","D"))

("\n    PIAIC Islamabad\n    id: 1\n    Name: A\n    father's Name: B\n    course:  C\n    timing: D\n    ", 'Qasim', 'Ali')


    PIAIC Islamabad
    id: 1
    Name: A
    father's Name: B
    course:  C
    timing: D
     Qasim Ali

# KeyWord Arguments

In [35]:
def id_card(sid, sname,fname,course, timing):
    text = """
    PIAIC Islamabad
    id: {}
    Name: {}
    father's Name: {}
    course:  {}
    timing: {}
    """.format(sid,sname,fname,course,timing)
    return text

print(id_card("Qasim","Aslam",5007,"A.I","9 to 9"))

    PIAIC Islamabad
    id: Qasim
    Name: Aslam
    father's Name: 5007
    course:  A.I
    timing: 9 to 9

In [36]:
#             p   p       k      w    k      w       k      w
print(id_card(1,"Qasim",course="A.i",fname="Aslam",timing="ABC"))
# 2 positional
# 3 Keyword Arguments

    PIAIC Islamabad
    id: 1
    Name: Qasim
    father's Name: Aslam
    course:  A.i
    timing: ABC

# Argument with List

In [38]:
def id_card(sid, sname,fname,course, timing):
    text = """
    PIAIC Islamabad
    id: {}
    Name: {}
    father's Name: {}
    course:  {}
    timing: {}
    """.format(sid,sname,fname,course,timing)
    return text



l1 = [1,"Qasim","Aslam","A.I","9 to 9"]


print(id_card(l1[0], l1[1],l1[2], l1[3], l1[4]))

    PIAIC Islamabad
    id: 1
    Name: Qasim
    father's Name: Aslam
    course:  A.I
    timing: 9 to 9

In [39]:
l1 = [1,"Qasim","Aslam","A.I","9 to 9"]


print(id_card(*l1))
print(*l1)
#print(l1[0], l1[1],l1[2], l1[3], l1[4])

    PIAIC Islamabad
    id: 1
    Name: Qasim
    father's Name: Aslam
    course:  A.I
    timing: 9 to 9

1 Qasim Aslam A.I 9 to 9

# Argument with Dictionary

In [40]:
def id_card(sid, sname,fname,course, timing):
    text = """
    PIAIC Islamabad
    id: {}
    Name: {}
    father's Name: {}
    course:  {}
    timing: {}
    """.format(sid,sname,fname,course,timing)
    return text


d1 = {
    'course':'A.I',
    'sname':'M.Qasim',
    'fname':'Aslam',
    'sid': 200,
    'timing': "ABC"
}

#print(id_card(sname="Qasim",fname="Aslam",sid=5007,course="A.I",timing="9 to 9"))
print(id_card(**d1))

    PIAIC Islamabad
    id: 200
    Name: M.Qasim
    father's Name: Aslam
    course:  A.I
    timing: ABC

# Generator Functions 

Python provides a generator to create your own iterator function. A generator is a special type of function which does not return a single value, instead, it returns an iterator object with a sequence of values. In a generator function, a yield statement is used rather than a return statement.

In [41]:
def abc():
    for i in range(11):
        yield i
        
a = abc()        
print(a)
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))
print(next(a))

print(list(a))

<generator object abc at 0x0382A098>
0
1
2
3
4
5
[6, 7, 8, 9, 10]