### for loop: 
* A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).
* This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.
* With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.
* The for loop does not require an indexing variable to set beforehand. 
* Even strings are iterable objects, they contain a sequence of characters

In [12]:
num = int(input("Enter Any Number: "))
"Even Number" if num % 2 == 0 else "Odd Number"

Enter Any Number: 5

'Odd Number'

# List comprehensive

for variable in list:
   for_loop_body

[for_loop_body FOR variable in list]

In [13]:
name = []
for num in range(1,11):
    name.append(num)
    
name

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
print([num*2 for num in range(1,11)])
print([num**2 for num in range(1,11)])
print([num**3 for num in range(1,11)])

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

# Nested Loop

In [16]:
students = ['osaja','shahmeer','mubeen','zohaib']
courses = ['AI','Robotics']

for student in students:
#     print(student,"parent")
    for course in courses:
        print(student, course)

osaja AI
osaja Robotics
shahmeer AI
shahmeer Robotics
mubeen AI
mubeen Robotics
zohaib AI
zohaib Robotics

In [3]:
cities = ['karachi', 'lahore', 'faisalabad', 'jhang', 'dadu', 'thatta']

for city in cities: 
    print(city)

karachi
lahore
faisalabad
jhang
dadu
thatta

In [5]:
for x in range(20):
    print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

### Looping Through a String
Even strings are iterable objects, they contain a sequence of characters:

In [9]:
x = 'Beautiful'

for x in x: 
    print(x)

B
e
a
u
t
i
f
u
l

In [8]:
x = 'My Beautiful Girl'

for x in x: 
    print(x)

M
y

B
e
a
u
t
i
f
u
l

G
i
r
l

### Assignments on for Loop

In [12]:
# (i). To print first 10 natural numbers

for x in range ( 10 ):
    print( x)

0
1
2
3
4
5
6
7
8
9

In [13]:
# (ii). To display "Hello" 10 times

for i in range(1, 10):
 print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [16]:
# (iii). To print the sum of m natural numbers.

num = int(input('Enter Any Number: '))
for x in range (1, num):
        num = num + x
        print(x)
print("sum is",num)
      #print(x)

Enter Any Number: 10
1
2
3
4
5
6
7
8
9
sum is 10

In [36]:
# (iv). To display even numbers from 2 to N(input by the user).

N = int(input("Enter a number"))
for N in range (2, N, 2):
    print(N)

Enter a number30
2
4
6
8
10
12
14
16
18
20
22
24
26
28

In [39]:
# (v). To display first 10 odd numbers

for i in range (20):
 if i%2 != 0: 
     print(i)

1
3
5
7
9
11
13
15
17
19

In [4]:
# (vi). To print the letters from A-Z
 
for i in range(65, 91):
 print(chr(i))

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z

In [3]:
# (vii). To input n numbers and find their average.

sum= 0
n=int(input("Enter n"))
for x in range (n+1): 
 y=int(input("Enter a number"))
 sum += y
 print("Average is ", sum/n)

Enter n6
Enter a number6
Average is  1.0
Enter a number3
Average is  1.5
Enter a number45
Average is  9.0
Enter a numbers

ValueError: invalid literal for int() with base 10: 's'

2. Find output generated by each of the following scripts:

In [4]:
#(i). 

a = 6
c = 0 
for b in range (a,a*a,a):
    c+=b
print(a,b,c)

6 30 90