# String methods and attributes

In [1]:
name = "Muhammad Qasim"
print(type(name))

<class 'str'>

In [6]:
a = [i for i in dir(name) if '_' not in i]
print(len(a))
a

46

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [5]:
name = "muhamMad QaSim"
print(name.capitalize())# in line operation
print(name)

Muhammad qasim
muhamMad QaSim

In [6]:
name = "muhamMad QaSim"
print(name.casefold())# in line operation
print(name)

muhammad qasim
muhamMad QaSim

In [13]:
name = "muhamMad QaSim"
print(name.center(50))# in line operation
print(len(name.center(50)))
print(name)

                  muhamMad QaSim
50
muhamMad QaSim

In [19]:
name = "muhamMad QaSim"
print(name.count('aS'))# in line operation
print(name)

1
muhamMad QaSim

In [20]:
name = "muhamMad QaSim, M"
print(name.casefold().count('m'))# in line operation
print(name)

5
muhamMad QaSim, M

In [21]:
name = "muhamMad QaSim, M"
print(name.count('m').casefold())# in line operation
print(name)

AttributeError: 'int' object has no attribute 'casefold'

In [ ]:
name = "muhamMad QaSim, M"
print(name.encode())

In [ ]:
AB┌0

In [22]:
name = "پاکستان"
print(name)

پاکستان

In [25]:
name = "پاکستان pakistan"
print(name.encode('utf-8'))

b'\xd9\xbe\xd8\xa7\xda\xa9\xd8\xb3\xd8\xaa\xd8\xa7\xd9\x86 pakistan'

In [26]:
name = "muhamMad QaSim"
print(name.endswith('im'))# in line operation
print(name)

True
muhamMad QaSim

In [1]:
name = "muhamMad QaSim"
print(name.startswith('m0'))# in line operation
print(name)

False
muhamMad QaSim

In [34]:
name = "name:\tMuhammad Qasim\nfather's name:\tMuhammad Aslam"
print(name.expandtabs(20))# in line operation
# print(name)

name:               Muhammad Qasim
father's name:      Muhammad Aslam

In [36]:
name = "name:\tMuhammad Qasim\nfather's name:\tMuhammad Aslam\nTeacherName: \tQasim"
print(name.find("Qasim"))
name.find

15

In [37]:
name = "name:\tMuhammad Qasim\nfather's name:\tMuhammad Aslam\nTeacherName: \tQasim"
print(name.find("Qasim",16))

65

In [38]:
name = "name:\tMuhammad Qasim\nfather's name:\tMuhammad Aslam\nTeacherName: \tQasim"
print( name.find("Qasim",name.find("Qasim")+1))

65

In [40]:
name = "name:\t{}\nfather's name:\t{}\nTeacherName: \t{}"
name.format("Qasim","Aslam","Qasim")
name.format("Asif","Aslam","Qasim")

"name:\tAsif\nfather's name:\tAslam\nTeacherName: \tQasim"

In [44]:
name = "name: {nm}\n class: {cl}"

data ={"nm":'Qasim',
      'cl':"Saylani Batch3"}

name.format_map(data)

'name: Qasim\n class: Saylani Batch3'

In [45]:
name = "Muhammad Qasim"
name.index("Q")

9

In [3]:
name = "abc23@"
name.isalnum()

False

In [5]:
name = "123"
name.isalnum()

True

In [3]:
name = "2abc"
name.isalpha()

False

In [4]:
name = "pakistan"
name.isascii()

True

In [11]:
name = "10"
name.isdecimal()

True

In [9]:
name = '3.0'
name.isdigit()

False

In [1]:
name = "pak"
name.isidentifier()

True

In [3]:
name = "pakIstan"
name.islower()

False

In [4]:
name = "pakistan"
name.islower()

True

In [7]:
name = "pakistanh"
name.upper()

'PAKISTANH'

In [9]:
name = "pakistanh zinda bad"
name.title()

'Pakistanh Zinda Bad'

# complete remaining methods

In [10]:
# List Data type 
# index
# slicing
# methods
# Attributes

In [13]:
#           0       1      2        3
names = ['qasim','asif','noman','kamran']
#          -4      -3      -2      -1
print(type(names))
names

<class 'list'>

['qasim', 'asif', 'noman', 'kamran']

In [14]:
print(names[1])
print(names[-3])

asif
asif

In [17]:
#           0       1      2        3
names = ['qasim','asif','noman','kamran',200,300,500,20,10]
#                                       -4   -3  -2  -1
print(names)
print(names[-2], type(names[-2]))
print(names[1], type(names[1]))

['qasim', 'asif', 'noman', 'kamran', 200, 300, 500, 20, 10]
20 <class 'int'>
asif <class 'str'>

In [18]:
#           0       1      2        3
names = ['qasim','asif','noman','kamran',200,300,500,20,10]
print(names)
names[1] = "Hammad"
print(names)

['qasim', 'asif', 'noman', 'kamran', 200, 300, 500, 20, 10]
['qasim', 'Hammad', 'noman', 'kamran', 200, 300, 500, 20, 10]

In [20]:
#           0       1      2        3
names = ['qasim','asif','noman','kamran',200,300,500,20,10]
print(names)
names[100]

['qasim', 'asif', 'noman', 'kamran', 200, 300, 500, 20, 10]

IndexError: list index out of range

# SLICING

In [22]:
# list[start:end:step]
# defualt left to right (step=1, -1)
#star: include
#end:exlude
#step:

In [33]:
names = ['qasim','asif','noman','kamran',200,300,500,20,10]
# same slicing with different values
names[1]# index
names[0:3]
names[0:3:1]
names[-9:-6]
names[-9:-6:1]
names[-9:3:1]

['qasim', 'asif', 'noman']

In [41]:
names[2:]
names[2::]
names[-8:]

['asif', 'noman', 'kamran', 200, 300, 500, 20, 10]

In [42]:
names = ['qasim','asif','noman','kamran',200,300,500,20,10]
print(names)
names[::-1]

['qasim', 'asif', 'noman', 'kamran', 200, 300, 500, 20, 10]

[10, 20, 500, 300, 200, 'kamran', 'noman', 'asif', 'qasim']

In [44]:
for i in range(2,len(names)):
    print(names[i])

noman
kamran
200
300
500
20
10