In [1]:
name = ['junaid', 'qasim', 'ali', 'salman', 'kashif']
name

['junaid', 'qasim', 'ali', 'salman', 'kashif']

In [2]:
type(name)

list

In [6]:
name = ['junaid', 'qasim', 'ali', 'salman', 'kashif']
name.append('owais')
print(name)

['junaid', 'qasim', 'ali', 'salman', 'kashif', 'owais']

In [7]:
name.remove('junaid')
print(name)

['qasim', 'ali', 'salman', 'kashif', 'owais']

In [18]:
name = ['junaid', 'qasim', 'ali', 'salman', 'kashif']
del name[2]
print(name)

['junaid', 'qasim', 'salman', 'kashif']

### .extend() method
To append elements from another list to the current list, use the extend() method.

In [20]:
name1 = ["junaid", "owais", "qasim", "adnan"]
name2 = ["kashif", "farman", "faran", "shahzaib", "faisal"]
name1.extend(name2)
print(name1)

['junaid', 'owais', 'qasim', 'adnan', 'kashif', 'farman', 'faran', 'shahzaib', 'faisal']

The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.) 

Add elements of a tuple to a list:

In [6]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")

thislist.extend(thistuple)

print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [29]:
name = ['junaid', 'qasim', 'ali', 'salman', 'kashif'] 
print(name[-1:0])

[]

In [30]:
name1 = [['junaid', 'owais', 'qasim', 'adnan'], 
['kashif', 'farman', 'faran', 'shahzaib', 'faisal'], 
['Mubashir', 'Saqib', 'Sami', 'Ibrahim', 'Ismail']]

print(name1[1][1])

farman

In [31]:
print(name1[2][1:4])

['Saqib', 'Sami', 'Ibrahim']

In [32]:
name1[2][4] = 'Asif' 
print(name1)

[['junaid', 'owais', 'qasim', 'adnan'], ['kashif', 'farman', 'faran', 'shahzaib', 'faisal'], ['Mubashir', 'Saqib', 'Sami', 'Ibrahim', 'Asif']]

In [36]:
name1 = [['junaid', 'owais', 'qasim', 'adnan'], 
['kashif', 'farman', 'faran', 'shahzaib', 'faisal'], 
['Mubashir', 'Saqib', 'Sami', 'Ibrahim', 'Ismail']]

print(name1[1][1][-3:])

man

In [37]:
name1.

SyntaxError: invalid syntax (<ipython-input-37-8070febd6275>, line 1)

In [40]:
name= "my\t\tname\tis\t\njunaid" 
print(name)

my		name	is
junaid

In [42]:
name = "my name is junaid"
print(name.upper())

MY NAME IS JUNAID

In [43]:
name = "my name is junaid"
print(name.capitalize())

My name is junaid

In [44]:
name = "my name is junaid"
print(name.title())

My Name Is Junaid

In [1]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"

print(thislist)

['apple', 'blackcurrant', 'cherry']

In [2]:
newlist = ['islamabad', 'karachi', 'lahore', 'peshawar', 'karachi', 'islamabad', 'dadu', 3332564221, 5876]

newlist[2] = 'faisalabad', 'pakistan'

print(newlist)

['islamabad', 'karachi', ('faisalabad', 'pakistan'), 'peshawar', 'karachi', 'islamabad', 'dadu', 3332564221, 5876]

In [3]:
newlist[2] = 'faisalabad'

print(newlist)

['islamabad', 'karachi', 'faisalabad', 'peshawar', 'karachi', 'islamabad', 'dadu', 3332564221, 5876]

### .insert() method
To insert a list item at a specified index, use the insert() method.
The insert() method inserts an item at the specified index:

In [4]:
newlist.insert(2, 'kashmore')

print(newlist)

['islamabad', 'karachi', 'kashmore', 'faisalabad', 'peshawar', 'karachi', 'islamabad', 'dadu', 3332564221, 5876]

### .append() method
To add an item to the end of the list, use the append() method:

In [5]:
newlist.append(333)
print(newlist)

['islamabad', 'karachi', 'kashmore', 'faisalabad', 'peshawar', 'karachi', 'islamabad', 'dadu', 3332564221, 5876, 333]

In [7]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

newlist = ['islamabad', 'karachi', 'lahore', 'peshawar', 'karachi', 'islamabad', 'dadu', 3332564221, 5876]

if 'karachi' in newlist: 
	print("Yes, 'karachi' is in the list")
    
print(newlist.count('karachi'))

Yes, 'apple' is in the fruits list
Yes, 'karachi' is in the list
2

In [8]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")

thislist.extend(thistuple)

print(thislist) 

newlist = ['karachi', 'lahore', 'faisalabad', 'jhang', 'thatta', 'dadu']

new_dict = {'city1': 'karachi', 'city2': 'lahore', 'city3': 'jhang'}

print(new_dict)
print(newlist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']
{'city1': 'karachi', 'city2': 'lahore', 'city3': 'jhang'}
['karachi', 'lahore', 'faisalabad', 'jhang', 'thatta', 'dadu']