# class5:
    * neted List
    * tuple
    * set
    * dictionary

In [4]:
data = [['1','qasim','msds'],
        ['2','asif','ai'],
       ['3','kashif','DS']]

print(data[1][1])
print(data[2][-1])

asif
DS

In [5]:
data[2][-1] = "Artificial Intelligent"
data

[['1', 'qasim', 'msds'],
 ['2', 'asif', 'ai'],
 ['3', 'kashif', 'Artificial Intelligent']]

# tuple

In [9]:
names = ("Qasim","Zonaib","Asif")
print(names[-1])
print(names[:2])
names

Asif
('Qasim', 'Zonaib')

('Qasim', 'Zonaib', 'Asif')

In [10]:
names[-1] = "Hamza"

TypeError: 'tuple' object does not support item assignment

In [11]:
names = ("Qasim","Zonaib","Hamza")
names

('Qasim', 'Zonaib', 'Hamza')

# set

In [15]:
names = {"qasim",'hamza','asif','qasim','hamza'}
print(names)
names

{'hamza', 'asif', 'qasim'}

{'asif', 'hamza', 'qasim'}

In [13]:
set(['a','b','a','a'])

{'a', 'b'}

# Dictionary

In [16]:
#         0        1      2         3            #index
data = ['qasim','aslam','AI', '9 pm to 12 am']   #values, elements
#key always int or string, hasable
data = {
    #key  : value  
    "name":'qasim', # value can be int, string, tuple, list, dict...
    'fname':'aslam',
    'course':'AI',
    'timing':'9 pm to 12 am'
}

data

{'name': 'qasim', 'fname': 'aslam', 'course': 'AI', 'timing': '9 pm to 12 am'}

In [17]:
data['name']

'qasim'

In [18]:
data['course']

'AI'

In [19]:
names = list(set(['a','a','a','b']))
names

['b', 'a']

In [20]:
print(data.__class__) #attribute

dict

# tuple method

In [25]:
names = ('a','b','c','a')
print(names)
print(names.count('a'))
print(names.index('b'))

('a', 'b', 'c', 'a')
2
1

In [26]:
dir(names)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [43]:
old_students = {1,2,3}
new_students = {1,3,4,7,9}
print(new_students.difference(old_students))
print(new_students.intersection(old_students).intersection({3,8}))
# print(new_students.difference_update)
print(new_students.isdisjoint(old_students))
print(new_students.issubset(old_students))
print(new_students.issuperset(old_students))
print(new_students.pop())

{9, 4, 7}
{3}
False
False
False

In [61]:
names = ['qasim','a','b','c']
print(names)
names.pop()
print(names)
names.pop(1) # pass index
print(names)
names.remove("qasim") # search then remove it
print(names)

['qasim', 'a', 'b', 'c']
['qasim', 'a', 'b']
['qasim', 'b']
['b']

In [62]:
new_students = {1,3,4,7,9,3,3}
print(new_students)
new_students.pop() # remove from last position for list we can also provide index number for removing perticular index value
print(new_students)
new_students.remove(4) # search and then remove it
print(new_students)
new_students.update({10,3,20})
print(new_students)

{1, 3, 4, 7, 9}
{3, 4, 7, 9}
{3, 7, 9}
{3, 20, 7, 9, 10}

# dictionary

In [73]:
data = {
    #key  : value  
    "name":'qasim', # value can be int, string, tuple, list, dict...
    'fname':'aslam',
    'course':'AI',
    'timing':'9 pm to 12 am'
}

print(data)
print(data['timing'])
print(data.keys())

{'name': 'qasim', 'fname': 'aslam', 'course': 'AI', 'timing': '9 pm to 12 am'}
9 pm to 12 am
dict_keys(['name', 'fname', 'course', 'timing'])

In [70]:
print(data.values())

dict_values(['qasim', 'aslam', 'AI', '9 pm to 12 am'])

In [71]:
print(data.items())

dict_items([('name', 'qasim'), ('fname', 'aslam'), ('course', 'AI'), ('timing', '9 pm to 12 am')])

In [72]:
data1 = data
data1['name'] = 'Zonaib'
print(data)
print(data1)

{'name': 'Zonaib', 'fname': 'aslam', 'course': 'AI', 'timing': '9 pm to 12 am'}
{'name': 'Zonaib', 'fname': 'aslam', 'course': 'AI', 'timing': '9 pm to 12 am'}

In [74]:
data1 = data.copy()
data1['name'] = 'Zonaib'
print(data)
print(data1)

{'name': 'qasim', 'fname': 'aslam', 'course': 'AI', 'timing': '9 pm to 12 am'}
{'name': 'Zonaib', 'fname': 'aslam', 'course': 'AI', 'timing': '9 pm to 12 am'}

In [76]:
data['address']

KeyError: 'address'

In [80]:
data.get('address') # get value with key
data.get('name')
data.get('address','na') # get value with key
data

{'name': 'qasim', 'fname': 'aslam', 'course': 'AI', 'timing': '9 pm to 12 am'}

In [75]:
dict.fromkeys(['id','name','fname','course','timing','address']) # create dict with list

{'id': None,
 'name': None,
 'fname': None,
 'course': None,
 'timing': None,
 'address': None}

In [81]:
data = {}
data['id'] = 1
data['name'] = 'qasim'
data['timing'] = '9 pm to 12 am'
data

{'id': 1, 'name': 'qasim', 'timing': '9 pm to 12 am'}

In [82]:
data.setdefault('course','AI')

'AI'

In [83]:
data

{'id': 1, 'name': 'qasim', 'timing': '9 pm to 12 am', 'course': 'AI'}

In [84]:
data.setdefault('id')

1

In [86]:
print(data)
print(data.pop('id')) # return only value
print(data)

{'id': 1, 'name': 'qasim', 'timing': '9 pm to 12 am', 'course': 'AI'}
1
{'name': 'qasim', 'timing': '9 pm to 12 am', 'course': 'AI'}

In [88]:
print(data)
print(data.popitem()) # remove key value pair from last position
print(data)

{'name': 'qasim', 'timing': '9 pm to 12 am', 'course': 'AI'}
('course', 'AI')
{'name': 'qasim', 'timing': '9 pm to 12 am'}

In [89]:
data.update({'id':20,"name":'Zonaib'})
data

{'name': 'Zonaib', 'timing': '9 pm to 12 am', 'id': 20}

In [90]:
data1 = {'id':20,
        'name':'qasim',
        'id':26}
data1

{'id': 26, 'name': 'qasim'}

In [1]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")

thislist.extend(thistuple)

print(thislist) 

newlist = ['karachi', 'lahore', 'faisalabad', 'jhang', 'thatta', 'dadu']

new_dict = {'city1': 'karachi', 'city2': 'lahore', 'city3': 'jhang'}

print(new_dict)
print(newlist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']
{'city1': 'karachi', 'city2': 'lahore', 'city3': 'jhang'}
['karachi', 'lahore', 'faisalabad', 'jhang', 'thatta', 'dadu']